<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Add new SDG</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section" layout:fragment="content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a th:href="@{/}" href="#">Home</a></li>
            <li><a th:href="@{/sdg/list}" href="#">SDGs</a></li>
            <li><a th:href="@{/sdg/add}" href="#">Create</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="title">Add SDG</h1>
        <div class="container">
            <h2 class="subtitle">Import from file</h2>
            <form action="#" th:action="@{/sdg/import}"
            method="post" enctype="multipart/form-data">
                <div class="field">
                    <label class="label">File</label>
                    <div class="control">
                        <input class="input" type="file" name="file" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-success is-rounded">
                            <span class="icon is-small">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span>Upload</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div class="container">
            <h2 class="subtitle">Create new</h2>
            <form action="#" th:action="@{/sdg/add}"
                  th:object="${sdg}" method="post">
                <div class="field">
                    <label class="label">Number</label>
                    <div class="control">
                        <input th:class="${#fields.hasErrors('number')} ? 'input is-danger' : 'input'" type="number" th:field="*{number}" />
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></p>
                </div>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input th:class="${#fields.hasErrors('name')} ? 'input is-danger' : 'input'" type="text" th:field="*{name}" />
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="field">
                    <label class="label">Relevance</label>
                    <div class="control">
                        <div th:class="${#fields.hasErrors('relevance')} ? 'select is-danger' : 'select'">
                            <select th:field="*{relevance}">
                                <option th:each="relevanceType : ${relevanceTypes}"
                                        th:value="${relevanceType}"
                                        th:text="${relevanceType}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('relevance')}" th:errors="*{relevance}"></p>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-success is-rounded">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
